<!-- start custom head snippets -->

<link rel="icon" href="/images/lake.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" sizes="180x180" href="/images/lake-192x192.png"/>
<link rel="icon" type="image/png" href="/images/lake-192x192.png" sizes="192x192"/>
<link rel="icon" type="image/png" href="/images/lake-512x512.png" sizes="512x512"/>


<!--<link rel="manifest" href="{{ base_path }}/images/manifest.json"/> -->
<meta name="theme-color" content="#ffffff"/>
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

<!-- Add Satoshi from Fontshare -->
<link href="https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap" rel="stylesheet">
<!-- Add Plus Jakarta Sans -->
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
<!-- Add Noto Sans -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<!-- Add Merriweather -->
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
<!-- Add Merriweather Sans-->
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">


<!-- Add Oswald -->
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
<!-- Add Roboto -->
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<!-- Add Inter font -->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">


<!-- Support for MatJax -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- end custom head snippets -->

<meta name="description" content="Hyundam Je is a behavioral economist. This is his personal website.">
<meta name="author" content="Hyundam Je">
