.site-title,
.site-title a {
}
.masthead__menu,
.masthead__menu a {

body {
  font-family: 'Source Sans 3', sans-serif !important;
}

strong, b {
  font-weight: 700; /* 자동으로 Bold Source Sans 3 적용 */
}

em, i {
  font-style: italic; /* 자동으로 Italic Source Sans 3 적용 */
}


h1, h2, h3, h4, h5, h6,
.site-title, .masthead__menu {
  font-family: 'Source Sans 3', sans-serif !important;
}
